#main-top-header {background: #fff;border-bottom: 1px solid #edeef1;}
#main-top-header .wrapper {position: relative;}
#main-top-header .logo-wrapper {
  float: left;
  display: block;
  border-right: 1px solid #edeef1;
  padding: 26px 28px 26px 0;
}
#main-top-header .top-bar-action-list {float: right;}
#main-top-header .top-bar-action-list .action-list-item {float: left;position: relative;}
#main-top-header .top-bar-action-list .invite-button {
  text-align: center;
  color: #fff;
  font-size: 1.166em;
  border:1px solid #dee0e7;
  border-radius: 5px;
  line-height: 37px;
  padding: 0 17px;
  margin-top: 13px;
  background: linear-gradient(120deg, #68e4f1 0%, #66a6ff 100%);
}
#main-top-header .top-bar-action-list .balance-action-button .dropdown-toggle {
  background: transparent;
  display: block;
  height: 66px;
  padding: 0 35px 0 19px;
  margin: 0 25px;
  border-left: 1px solid #dee0e7;
  border-right: 1px solid #dee0e7;
  position: relative;
  z-index: 9;
}
#main-top-header .top-bar-action-list .balance-action-button .dropdown-toggle span {
  color: #66a6ff;
  font-size: 1.5em;
}
#dashboard-wrapper .top-bar-action-list .balance-action-button .dropdown-menu {min-width: 378px;}
#main-top-header .top-bar-action-list .balance-action-button .dropdown-toggle::before {
  border-top: 6px solid #66a6ff;
  right: 13px;
}
#main-top-header .balance-action-button .dropdown-top-header {padding: 13px 16px 10px 14px;}
#main-top-header .balance-action-button .dropdown-top-header .dropdown-title {text-transform: uppercase;float: left;}
#main-top-header .balance-action-button .dropdown-top-header .deposite-action {color: #66a6ff;float: right;}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li {border-top: 1px solid #dee0e7;}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li:last-child {border-bottom: 1px solid #dee0e7;}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li a {
  display: block;
  width: 100%;
  background: transparent;
  padding: 16px 16px 11px 13px;
}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li .name {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.33em;
  color: #101530;
}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li .name img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li .balance-inquery {
  float: right;
  text-align: right;
}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li .balance-inquery .currency-title {
  color: #101530;
  font-size: 1.33em;
  text-transform: uppercase;
  display: block;
  margin: -7px 0 -2px 0;
}
#main-top-header .balance-action-button .balance-sheet-wrapper ul li .balance-inquery .total-currency {
  font-size: 1.33em;
  color: #8890a3;
}
#main-top-header .balance-action-button .balance-sheet-wrapper .total-balance {
  padding: 20px 16px 20px 13px;
  font-size: 1.33em;
  color: #66a6ff;
}
#main-top-header .balance-action-button .balance-sheet-wrapper .total-balance .balance-title {float: left;}
#main-top-header .balance-action-button .balance-sheet-wrapper .total-balance .balance-figure {float: right;}
#main-top-header .user-profile-action .dropdown-toggle .user-img {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}
#main-top-header .user-profile-action .dropdown-toggle .user-name {
  font-size: 1.33em;
  color: #101530;
  display: inline-block;
  vertical-align: middle;
}
#main-top-header .user-profile-action .dropdown-toggle {
  background: transparent;
  display: block;
  height: 66px;
  padding: 0 26px 0 0;
  border:none;
  position: relative;
  z-index: 9;
}
#dashboard-wrapper .user-profile-action .dropdown-menu {min-width: 280px;}
#dashboard-wrapper .user-profile-action .user-account-information {
  text-align: center;
  border-bottom: 1px solid #dee0e7;
  padding: 19px 0 12px 0;
}
#dashboard-wrapper .user-profile-action .user-account-information .user-lg-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}
#dashboard-wrapper .user-profile-action .user-account-information .user-name {
  font-size: 1.33em;
  color: #101530;
  padding: 13px 0 4px;
}
#dashboard-wrapper .user-profile-action .user-account-information .user-email {color: #8890a3;}
#dashboard-wrapper .user-profile-action .user-account-information .member-rank {color: #66a6ff;margin-top: 7px;}
#dashboard-wrapper .user-profile-action .user-useful-link {padding: 3px 0;}
#dashboard-wrapper .user-profile-action .user-useful-link li a {
  display: block;
  line-height: 39px;
  color: #101530;
  font-size: 1.33em;
  padding: 0 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#dashboard-wrapper .user-profile-action .user-useful-link li a:hover {color: #66a6ff;}
#dashboard-wrapper .user-profile-action .user-useful-link li a .free-button {
  position: absolute;
  right: 12px;
  top:4px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border:1px solid #dee0e7;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 0.75em;
  background: linear-gradient(120deg, #68e4f1 0%, #66a6ff 100%);
}
/*________________________ Toggle Menu ___________________*/
#main-top-header .toggle-show-menu-button {
  display: none;
  background: transparent;
  position: absolute;
  left:0;
  top:20px;
}
#main-top-header .toggle-show-menu-button span {
  display: block;
  width: 25px;
  height: 2px;
  margin:4px 0;
  background: #bdc3d0;
}
.dashboard-sidebar-navigation.show-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.close-aside-menu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 15px;
  background: transparent;
  text-align: center;
  line-height: 40px;
  z-index: 9999;
}