* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 68px;
  font-weight: 900;
}

a {
  color: white;
}

body a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.custom-container-one {max-width: 820px;margin: 0 auto; padding: 0 15px;}
.custom-container-two {max-width: 950px;margin: 0 auto; padding: 0 15px;}

.btn-default {
  background: linear-gradient(120deg, #37d0e0 0%, #2676e4 100%);
  line-height: 40px;
  border-radius: 25px;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  width: 148px;
  height: 40px;
}

.message-error {
  background: linear-gradient(120deg, #ebc856 0%, #ff0c0c 100%);
  border-radius: 30px;
  padding: 0.5rem;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.app-chatbot-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1f3646;
  border: none;
  position: fixed;
  bottom: 15px;
  z-index: 999;
  right: 40px;
  color: white;
}
